body {
    background-color: #A9A9A9;
    font-family: 'Aclonica', sans-serif;
    font-size: 20px;
}

h1 {
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

#main-body {
    background-color: #E0FFFF;
    margin: 20px 160px 20px 160px;
    border-radius: 10px;
}

#form {
    margin: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    padding: 5px;
}

p {
    font-size: 20px;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 20px;
}
